-
  const feedBack = {
    title: "Написать руководству",
    additionalClass: "closeFeedback",
    fields: [
      { type: 'text', placeholder: "Ваше имя" },
      { type: 'tel', placeholder: "Номер телефона" },
      { type: 'textarea', placeholder: "Сообщение", rows: 9 }
    ]
  };