.product {
  &_entity {
    @include transition(border-color, box-shadow);
    border: 1px solid $blue;
    box-shadow: none;
    padding: rem-calc(5);
    &:hover {
      border-color: $green;
      box-shadow: 0px 2px 5px 0px rgba($green, 0.75);
      .product_title { color: $green; }
    }
    .img-holder { margin-bottom: rem-calc(14); }
  }
  &_price-holder {
    font-size: 0;
    margin-bottom: rem-calc(10);
    text-align: center;
  }
}

.product-price {
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
  &--regular {
    color: $green;
    margin-right: rem-calc(20);
    text-decoration: line-through;
    &:last-child {
      margin-right: 0;
      text-decoration: none;
    }
    @include breakpoint(large down) {
      display: none;
      &:last-child { display: inline-block; }
    }
  }
  &--discount {
    color: $red;
    @include breakpoint(large down) { color: $green; }
  }
}


.product_title {
  @include transition(color);
  color: $blue;
  margin: 0 auto rem-calc(10);
  max-width: 190px;
  text-align: center;
  .title { color: inherit; }
}
.product_btns-holder { display: flex; }

.product-btn {
  color: $white;
  flex: 1 1 0%;
  text-align: center;
  &:hover { color: $white; }
  .btn-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3D(-50%, -50%, 0);
  }
  &--cart {
    @include transition(background);
    background: $blue;
    padding: rem-calc(4) rem-calc(5);
    line-height: inherit;
    margin-right: rem-calc(5);
    &:hover { background: $green; }
    &:last-child { margin-right: 0; }
    .text-holder {
      @include font-inherit;
      color: inherit;
      position: relative;
      padding-left: rem-calc(52);
    }
    .cart-icon {
      left: 0;
      top: 50%;
      transform: translate3D(0, -50%, 0);
    }
  }
  &--compare {
    border: 1px solid $blue;
    padding: rem-calc(5) rem-calc(2);
    flex: 0 0 auto;
    max-width: 32px;
  }
}