.main-slider-section {
  position: relative;
}
.main-slider {
  &_text-holder {
    background: rgba($black, 0.5);
    color: $white;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 35px 26px;
    width: 100%;
  }
  &_text {
    font-size: 23px;
    line-height: 1;
    margin: 0;
  }
}
.my-slider_main {
  .my-sliders_slide {
    position: relative;
    height: 210px;
    @include breakpoint(medium) { height: 420px; }
    @include breakpoint(large) { height: 555px; }
  }
  .slide-img {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 100%;
  }
}