header.main-header
  .header_content-wrapper
    section.header_content
      .header_logo-holder
        img(src='assets/img/logo_header.png')
      .header_stream-block
        include ./blocks/nav-block
      .header_tel-holder
      .header_btn-holder