-
  const tabData = [
    { title: "Мои заказы", ref: "panell" },
    { title: "Настройки кабинета", ref: "panel2" },
    { title: "Изменить пароль", ref: "panel3" }
  ];

- const userData = ["Имя", "Фамилия", "Мобильный телефон (+380991112233)", "Email (example@example.com)", "Введите ваш город"];

- const userPassword = ["Текущий пароль", "Новый пароль", "Новый пароль (Еще раз)"];

- const monthNames = ["Январь", "Февраля", "Марта", "Апреля", "Мая", "Июня", "Июля", "Августа", "Сентября", "Октября", "Ноября", "Декабря"];

-
  const orderDetails = [
    { name: "Артикул:", value: "1051A002-400" },
    { name: "Цвет:", value: "Синий-Красный" },
    { name: "Размер US:", value: "12" },
    { name: "Количество:", value: "1" }
  ];