.media_section {
  padding: rem-calc(40) 0 rem-calc(70);
}
.news_slide {
  .img-holder {
    margin-bottom: rem-calc(18);
    position: relative;
  }
  &_date {
    color: #777;
    font-size: rem-calc(14);
    font-weight: 300;
    line-height: 1;
    margin-bottom: rem-calc(16);
  }
  &_link {
    @include transition(color);
    color: $medium-gray;
    font-weight: 600;
    .news_slide:hover & { color: $green; }
  }
  .overlay-link {
    @include transition(opacity, visibility);
    @include sizes(100%);
    background: rgba($green, 0.6);
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
  }
  .overlay-link_icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &:hover {
    .overlay-link {
      opacity: 1;
      visibility: visible;
    }
  }
}

.my-slider_news {
  margin-bottom: rem-calc(60);
  .slick {
    &-list { margin: 0 rem-calc(-40); }
    &-arrow {
      top: 70px;
      transform: none;
    }
  }

}

.media_tabs-holder {
  font-size: 26px;
  font-weight: 700;
  margin: 0 0 rem-calc(50);
}
.media_tab-btn {
  @include transition(color);
  @include font-inherit;
  color: $blue;
  margin: 0 rem-calc(38);
  &:hover, &.isActive { color: $green; }
}

.common_link-btn {
  color: $light-gray;
  display: inline-block;
  line-height: 1;
  padding: rem-calc(16) rem-calc(60);
}