-
  var paymentConditions =
    [
      "Полная предоплата (переводом на карту или через терминал Приватбанка)",
      "Наложенный платеж (оплата заказа после его фактического получения на\n"+
      "складе транспортной компании)",
      "Безналичный расчет"
    ];