.about_main-content {
  .section-title {
    margin: 0 0 35px;
  }
}

.additional-conditions_item {
  .conditions-block {
    @include breakpoint(large) { padding-left: 92px; }
  }
  .conditions_title {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    position: relative;
    @include breakpoint(large) { display: block; }
  }
  .article-title {
    display: inline-block;
    margin: 0;
  }
  .item_icon {
    width: 55px;
    margin-right: 25px;
    @include breakpoint(large) {
      position: absolute;
      left: 15px;
      top: 100%;
      margin-right: 0;
    }
  }
}

.about_callout {
  .medium-size { font-size: 20px; }
  h3 {
    line-height: 1;
    margin: 0;
  }
  p { margin-bottom: 0; }
}

.about_comments-section {
  margin-bottom: 55px;
}

.about_partners {
  .section-title { margin-bottom: 40px; }
}

.answer-wrapper {
  h3 { color: $blue; }
  textarea {
    border: 1px solid $border-color;
    color: $text-color;
    margin: 20px 0;
    padding: 10px;
    width: 100%;
  }
}