.about_main-content {
  .section-title {
    margin: 15px 0 35px;
  }
}

.additional-conditions { }
.additional-conditions_item {
  .conditions-block {
    @include breakpoint(large) { padding-left: 92px; }
  }
  .conditions_title {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    position: relative;
    @include breakpoint(large) { display: block; }
    h4 { margin: 0; }
  }
  .item_icon {
    width: 55px;
    margin-right: 25px;
    @include breakpoint(large) {
      position: absolute;
      left: 15px;
      top: 100%;
      margin-right: 0;
    }
  }
}

.about_callout {
  .medium-size { font-size: 20px; }
  h3 { margin-bottom: 5px; }
  p { margin-bottom: 0; }
}

.about_partners {
  .section-title { margin-bottom: 40px; }


}