-
    var dashedList1 = [
        "если обувь будет В ам слишком мала, то это приведет к болям и дискомфорту в ногах.",
        "если обувь будет слишком велика, то это может привести к волдырям, потере устойчивости и, как следствие, к травмам.",
        "не полагайте, что у Вас тот же размер обуви, что был ранее т.к. форма и длина Вашей стопы изменяется все время.",
        "выполните рекомендованную нами процедуру измерения длины Вашей стопы и Вы будете уверены в правильном",
        "выборе размера обуви.Все наши размеры выверены по зарекомендованной методике."
    ];

-
    var dashedList2 = [
        "проводить измерения следует в конце дня (к концу дня к ногам приливает кровь и они расширяются, то же происходит и при физических нагрузках).",
        "наденьте носки, которые Вы будете носить с новой обувью (толщина носка, особенно использование шерстяного толстого носка, заметно влияет на размер требуемой обуви).",
        "если Вы проводите измерения без посторонней помощи, то более точные результаты Вы получите сидя на стуле или в кресле.",
        "проводить измерение в сантиметрах."
    ];



-
    var sizesGrid = [
        {
            "title": "Размерная сетка на спортивную обувь Mizuno",
            "details": [{ "title": "", "tables": ["grid-table"] }]
        },
        {
            "title": "Размерная сетка на обувь Asics",
            "details": [
                { "title": "Мужская обувь Asics", "tables": ["grid-table"] },
                { "title": "Женская обувь Asics", "tables": ["grid-table"] },
                { "title": "Детская обувь Asics", "tables": ["grid-table"] },
                { "title": "Обувь Asics Унисекс", "tables": ["grid-table"] }
            ]
        }

    ]

