.product-card_main-section {
  border-bottom: 3px solid $border-color;
  padding-bottom: 35px;
  margin-bottom: 20px;
}

.product-card_card-wrapper {
  position: relative;
  max-height: 450px;
  ul {
    list-style-type: none;
    margin: 0;
  }
  @include breakpoint(small only) {
    padding-top: 100px;
  }
}

.product-card_product-pic {
  border: 1px solid $blue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  > div { width: 100%; }
  .product-pic_main {
    flex: 1 1 0%;
    max-height: 80%;
    text-align: center;
  }
  .product-pic_additional {
    flex: 0 0 auto;
    max-height: 90px;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 7px 0;
    > li {
      display: inline-block;
      padding: 0 7px;
      width: calc(20% - 7px);
    }
  }
  .product-pic_thumbnail {
    border: 1px solid $border-color;
    padding: 50%;
    position: relative;
    overflow: hidden;
    img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  img {
    max-height: 100%;
  }
}

.product-card_info {
  background: $light-gray;
  padding: 16px 10px;
  height: 100%;
}

.product-info_flex-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  li {
    padding: 0 10px;
    &:not(:last-child) { margin-bottom: 20px; }
  }
  @include breakpoint(medium) {
    max-height: 100%;
    li { width: 50%; }
  }
  @include breakpoint(small only) {
    li {
      &:nth-child(9) { order: 10; }
      &:nth-child(6) { order: 9; }
      &:nth-child(11) { order: 11; }
    }
  }
  .btn {
    width: 100%;
    &.sm { font-size: 1rem; }
  }
}

.product-card_logo-holder {
  height: 70px;
  img { max-height: 100%; }
}

.product-card_dl {
  display: flex;
  align-items: center;
  margin: 0;
  dt {
    font-weight: $global-weight-normal;
    line-height: 1.3;
    margin: 0;
    width: 125px;
  }
  select {
    border-color: $green;
    font-size: 1rem;
    padding: 8px;
    min-width: 100px;
    text-align: center;
  }
}

.product-card_price-block {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  line-height: 1;
  > .label { margin-right: 30px; }
  .price-holder {
    color: #ea4556;
    font-size: rem-calc(36);
    position: relative;
    min-width: 150px;
  }
  .current-price:not(:last-child) { padding-bottom: 40px; }
  .old-price {
    color: $green;
    font-size: rem-calc(24);
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    text-decoration: line-through;
    width: 100%;
  }
  @include breakpoint(small only) {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 10px;
    width: 100%;
  }
  @include breakpoint(medium) {
    justify-content: flex-end;
  }
}

.product-card_compare {
  display: flex;
  align-items: center;
  justify-content: center;
  > .label { margin-right: 30px; }
}

.product-card_stock {
  .label {
    line-height: 1;
    margin-bottom: 30px;
  }
}

.product_checkout-btn {
  position: relative;
  img {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
  }
}