@import 'categories-styles';

.header_menu,
.header_content {
  flex-wrap: wrap;
  padding: {
    top: 16px;
    bottom: 16px;
  }
  h3 { margin: 0; }
}

.main-header {
  position: relative;
  z-index: 5;
  padding-top: 90px;
  @include breakpoint(large) { padding-top: 61px; }
}

.header_menu {
  @include transition(opacity, visibillity);
  background: $white;
  justify-content: center;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  top: 100%;
  left: 0;
  width: 100%;
  &.is-active {
    opacity: 1;
    visibility: visible;
    z-index: 10;
  }
  a {
    color: $medium-gray;
    font-size: 16px;
    transition: color 0.3s;
    &:hover, &.active { color: $green; }
  }
  .header_login-block { padding-left: 45px; }
  @include breakpoint(large) {
    justify-content: space-between;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    max-width: 1200px;
    visibility: visible;
    opacity: 1;
    padding: 18px 16px;
  }
}

.header_content-wrapper {
  background: $light-gray;
}

.header_content {
  align-items: center;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
}

.header_nav {
  ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    @include breakpoint(large) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  li {
    flex: 0 0 auto;
    text-align: center;
    white-space: nowrap;
    margin-bottom: 10px;
    @include breakpoint(large) { margin-bottom: 0; }
  }
}

.header_login-block {
  position: relative;
  padding-left: 45px;
  .fa-user {
    color: $medium-gray;
    font-size: 22px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.header_temp-wrapper {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  @include breakpoint(xlarge) { max-width: 890px; }
  .header_btn-holder {
    flex: 0 0 48%;
    max-width: 48%;
    @include breakpoint(small only) {
      flex: 1 1 0%;
      max-width: none;
    }
    @include breakpoint(large) { flex-basis: auto; }
  }
  .btn {
    min-width: 234px;
    width: 100%;
    @include breakpoint(small only) {
      font-size: 16px;
      padding: 12px 20px;
      min-width: 0;
    }
    @include breakpoint(large) { width: auto; }
  }
}
.header_logo-holder {
  position: absolute;
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
  @include breakpoint(large) {
    flex: 0 0 auto;
    position: static;
    transform: none;
    width: auto;
  }
}
.header_tel-holder {
  display: flex;
  align-items: center;
  flex: 0 0 48%;
  max-width: 48%;
  @include breakpoint(small only) {
    flex: 0 0 auto;
    margin-right: 24px;
  }
  @include breakpoint(medium) { justify-content: center; }
  @include breakpoint(large) { flex: 1 1 0%; }
}

.tel-holder_tel-icon {
  margin-right: 30px;
}
.tel-holder_tel-numbers {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  a { color: $blue; }
}



.header_stream-block {
  width: 100%;
  margin-bottom: 28px;
  @include breakpoint(large) {
    margin-bottom: 0;
    width: auto;
  }
}

.header_actions-holder {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  max-width: 335px;
  margin: 0 auto;
  li {

  }
  .action-icon {
    display: block;
    max-height: 35px;
    margin: 0;
    padding: 0;
  }
}

.header_sec-row {
  display: flex;
  flex: 0 0 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 100%;
  padding-top: 16px;
  @include breakpoint(large) {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

.header_categories {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  .btn {
    position: relative;
    min-height: 100%;
    min-width: 0;
    width: 100%;
  }
  @include breakpoint(small only) {
    margin-bottom: 5px;
  }
  @include breakpoint(medium) {
    flex: 0 0 48%;
    max-width: 48%;
  }
  @include breakpoint(large) {
    flex: 0 0 auto;
    .btn {
      min-width: 293px;
      width: auto;
    }
  }
  .burger-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.header_search {
  @include transition(visibility, opacity);
  display: flex;
  flex: 1 1 0%;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  &.is-active {
    opacity: 1;
    visibility: visible;
  }
  @include breakpoint(large) {
    margin: 0 30px 0 22px;
    max-width: 575px;
    position: static;
    opacity: 1;
    visibility: visible;
  }
  input {
    border-color: $blue;
    color: $blue;
    flex: 1 1 0%;
    padding: 12px 22px;
    font-style: italic;
    &::-webkit-input-placeholder {color:$blue;}
    &::-moz-placeholder          {color:$blue;}
    &:-moz-placeholder           {color:$blue;}
    &:-ms-input-placeholder      {color:$blue;}
  }
  .search-btn {
    @include sizes($height: auto, $width: 80px);
    background: $blue;
    flex: 0 0 auto;
    position: relative;
    @include breakpoint(large) {
      @include transition(background);
      margin-left: 7px;
      &:hover { background: $green; }
    }
  }
  .search-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.header_cart {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
}

.header_cart-icon { margin-right: 30px; }
.header_cart-dl-holder {
  display: flex;
  flex-direction: column;
}
.header_cart-dl {
  margin: 0;
  display: flex;
  dt, dd {
    flex: 0 0 auto;
    margin-bottom: 0;
    font-weight: 400;
  }
  dt {
    margin-right: 5px;
  }
}

.header_mobile-menu {
  flex: 0 0 100%;
  max-width: 100%;
  @include breakpoint(small only) {
    margin-bottom: 5px;
    order: -1;
  }
  @include breakpoint(medium) {
    flex: 0 0 48%;
    max-width: 48%;
  }
  .btn {
    position: relative;
    width: 100%;
  }
  .fa {
    font-size: 32px;
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.toggle-arrow {
  .is-active > & {
    &:before { content: "\f106";}
  }
}
