@mixin transition($properties-list...) {
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
  transition-property: $properties-list;
}

@mixin sizes($width, $height:$width) {
  height: $height;
  width: $width;
}

@mixin font-inherit() {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}