-
  const callEmBack = {
    title: "Заказать обратный звонок",
    disclaimer: "Оставьте свои данные и Вам перезвонят:",
    additionalClass: "closeCallPopup",
    fields: [
      { type: 'text', placeholder: "Ваше имя" },
      { type: 'tel', placeholder: "Номер телефона" }
    ]
  };