section.header_menu.row.align-justify
  nav.header_nav.medium-9.columns
    ul.no-bullet
      li
        a(href="#") О нас
      li
        a(href="#") Новости
      li
        a(href="#") Статьи
      li
        a(href="#") Оплата и доставка
      li
        a(href="#") Размеры
      li
        a(href="#") Контакты
  .header_login-block.column.end.shrink
    i(aria-hidden='true').fa.fa-user
    a(href="#").header_login.header_login--sign Вход&nbsp;
    | /&nbsp;
    a(href="#").header_login.header_login--reg Регистрация