section.header_menu.row.small-collapse
  nav.header_nav.large-9.small-12.columns
    ul.no-bullet
      li
        a(href="/about.html") О нас
      li
        a(href="/news.html") Новости
      li
        a(href="/news.html") Статьи
      li
        a(href="/") Оплата и доставка
      li
        a(href="/sizes.html") Размеры
      li
        a(href="/contacts.html") Контакты
  .header_login-block.column.end.shrink
    i(aria-hidden='true').fa.fa-user
    a(href="#").header_login.header_login--sign Вход&nbsp;
    | /&nbsp;
    a(href="#").header_login.header_login--reg Регистрация