.news_slider
  -for(var i=1; i<=6; i++)
    .news_slide
      .img-holder.text-center
        img(src="../../assets/img/main-page/news-slide-#{i}.jpg")
      p.news_slide_date 05.07.2016 г.
      a(href="#").news_slide_link Как выбрать кроссовки?