.wrapper {
  @include sizes($width:100%, $height:100vh);
  display: flex;
  flex-direction: column;
}
.main-header, .main-footer { flex: 0 0 auto; }
.main-content-wrapper { flex: 1 0 auto; }

.ul {
  &--untitl {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  &--inline { display: flex; }
  li {
    line-height: 1;
  }
}

.col-collapse {
  &--large {
    @include breakpoint(large) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

button { cursor: pointer; }

.btn {
  flex: 0 0 auto;
  font-size: rem-calc(18);
  padding: 12px 25px;
  &--grey {
    @include transition(background);
    background: $medium-gray;
    color: $white;
    &:hover { background: $hover-color; }
  }
  &--green {
    background: $green;
    color: $white;
  }
  &--blue {
    background: $blue;
    color: $white;
  }
}

input {
  border: 1px solid $border-color;
  &:focus {
    outline: none;
  }
}