$col-margin-bottom: 25px;

.footer_main-section {
  background: $light-gray;
  padding: {
    top: 24px;
    bottom: 24px;
  }
  .column {
    margin-bottom: $col-margin-bottom;
    .column { margin-bottom: 0; }
  }
  @include breakpoint(medium) {
    min-height: 300px;
  }
}
.footer_logo {
  position: relative;
  .img-holder {
    max-width: 210px;
  }
  @include breakpoint(small only) {
    display: flex;
    justify-content: center;
  }
}
.footer_logo_heading {
  font-size: 1rem;
  font-weight: $global-weight-bold;
  text-align: center;
  @include breakpoint(large) {
    position: absolute;
    left: 5px;
    top: calc(100% + #{$col-margin-bottom} + 3px);
    width: 200px;
  }
}

.footer_btn-holder {
  display: flex;
  .btn {
    @include breakpoint(medium down) {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}
.btn {
  flex: 0 0 auto;
  font-size: rem-calc(18);
  padding: 12px 25px;
  &--grey {
    @include transition(background);
    background: $medium-gray;
    color: $white;
    &:hover { background: $hover-color; }
  }
}
.footer_input {
  padding: 18px;
  width: 100%;
  @include breakpoint(large) { min-width: 470px; }
  @include breakpoint(medium down) { margin-bottom: $col-margin-bottom; }
}
.footer_links {
  h3 {
    font-weight: $global-weight-bold;
    margin-bottom: 12px;
  }
}
.footer_contacts {
  @include breakpoint(small only) { text-align: center; }
}
.footer_nav {
  font-size: 16px;
  font-weight: 300;
  line-height: 1;
  li {
    margin-bottom: 16px;
    &:last-child { margin-bottom: 0; }
  }
  a {
    font-size: inherit;
    transition: 0.2s ease-in-out color;
    &:hover {
      color: $hover-color;
    }
  }
}

