-
  var productsData = [
    {
      "regularPrice":"2 699 грн",
      "discountPrice":"",
      "title":"Кроссовки Mizuno Synchro SL 2 W SS17"
    },
    {
      "regularPrice":"5 679 грн",
      "discountPrice":"2 689 грн",
      "title":"Кроссовки Mizuno Synchro MY 2 W SS17"
    },
    {
      "regularPrice":"1 679 грн",
      "discountPrice":"",
      "title":"Кроссовки Mizuno Synchro SL 2 W SS17"
    },
    {
      "regularPrice":"2 809 грн",
      "discountPrice":"",
      "title":"Кроссовки Mizuno Synchro SL 2 W SS17"
    }
  ]