-
  const categories = [
    {
      title: "Кроссовки для волейбола",
      link: "/",
      icon: "sneaker_icon",
      // innerItems: []
    },
    {
      title: "Мужская игровая форма",
      link: "/",
      icon: "man_icon",
      innerItems: [
        {title: "Комплекты", link: "#"},
        {title: "Футболки", link: "#"},
        {title: "Шорты", link: "#"}
      ]
    },
    {
      title: "Женская игровая форма",
      link: "/",
      icon: "woman_icon",
      innerItems: [
        {title: "Комплекты", link: "#"},
        {title: "Футболки", link: "#"},
        {title: "Шорты", link: "#"}
      ]
    },
    {
      title: "Наколенники",
      link: "/",
      icon: "knee_icon",
    },
    {
      title: "Мячи",
      link: "/",
      icon: "ball",
      innerItems: [
        {title: "Волейбольные", link: "#"},
        {title: "Баскетбольные", link: "#"},
        {title: "Футбольные", link: "#"},
        {title: "Разное", link: "#"}
      ]
    },
    {
      title: "Одежда",
      link: "/",
      icon: "clothes_icon",
      innerItems: [
        {title: "Футболки", link: "#"},
        {title: "Майки и топы", link: "#"},
        {title: "Шорты", link: "#"},
        {title: "Пляжные шорты", link: "#"},
        {title: "Носки гольфы и гетры", link: "#"},
        {title: "Спортивные костюмы", link: "#"},
        {title: "Спотривные кофты и толстовки", link: "#"},
        {title: "Штаны, Тайтсы", link: "#"},
        {title: "Термобелье", link: "#"},
        {title: "Куртки и ветровки", link: "#"},
        {title: "Кепки и шапки", link: "#"},
        {title: "Перчатки", link: "#"}
      ]
    },
    {
      title: "Обувь",
      link: "/",
      icon: "shoes_icon",
      innerItems: [
        {title: "Кроссовки для бега", link: "#"},
        {title: "Обувь для футбола", link: "#"},
        {title: "Обувь для тениса", link: "#"},
        {title: "Спортивный стиль", link: "#"},
        {title: "Тапочки и вьетнамки", link: "#"},
        {title: "Борцовки", link: "#"}
      ]
    },
    {
      title: "Сумки, рюкзаки",
      link: "/",
      icon: "bag",
      innerItems: [
        {title: "Сумки", link: "#"},
        {title: "Рюкзаки", link: "#"},
        {title: "Разное", link: "#"}
      ]
    },
    {
      title: "Аксессуары",
      link: "/",
      icon: "cup_icon",
      innerItems: [
        {title: "Спортивные аксессуары", link: "#"},
        {title: "Сувениры", link: "#"},
        {title: "Сувениры", link: "#"},
        {title: "Спортивная медицина", link: "#"},
        {title: "Аксессуары для судей", link: "#"}
      ]
    },
    {
      title: "Спортивное питание",
      link: "/",
      icon: "",
      innerItems: [
        {title: "Одноразове порции", link: "#"},
        {title: "Аминокислоты", link: "#"},
        {title: "Витамины и минералы", link: "#"},
        {title: "Креатин", link: "#"},
        {title: "Протеины", link: "#"},
        {title: "Предтренировочные комплексы", link: "#"},
        {title: "Послетренировочные комплексы", link: "#"},
        {title: "Гейнеры", link: "#"},
        {title: "Жиросжигатели", link: "#"},
        {title: "Тестостероновые бустеры", link: "#"},
        {title: "Шейкеры", link: "#"}
      ]
    },
    {
      title: "Товары для детей",
      link: "/",
      icon: "child_icon",
      // innerItems: []
    },
    {
      title: "Плавание",
      link: "/",
      icon: "swimming_icon",
      innerItems: [
        {title: "Купальники и плавки", link: "#"},
        {title: "Экипировка для плавания", link: "#"}
      ]
    }
  ];