mixin tabContent(num)
  if(num % 2 === 0)
    p Волейбольные кроссовки Mizuno Wave Lightning Z3, V1GA1700-48.
    p Улучши свою игру с кроссовками серии Lightning. Поворачивайся быстрее, будь ловчее.
    p Улучшенная бесшовная конструкция верха обеспечивает непревзойденную посадку и комфорт
    p Высокий уровень амортизации и улучшенное приземление на переднюю часть при легком весе Mizuno Wave Lightning Z3
    p Технология D-Flex groove позволяет играть в высоком темпе с постоянной сменой направления движений и отличным ускорением
    p Новая технология Kick-Sensor под пальцами даёт дополнительную гибкость и быстроту Mizuno Wave Lightning Z3.
  else
    p Новая технология Kick-Sensor под пальцами даёт дополнительную гибкость и быстроту Mizuno Wave Lightning Z3.
    p Улучшенная бесшовная конструкция верха обеспечивает непревзойденную посадку и комфорт
    p Высокий уровень амортизации и улучшенное приземление на переднюю часть при легком весе Mizuno Wave Lightning Z3

