-
  var objOfLinks = {
    "about": [
      "Главная",
      "О нас",
      "Новости",
      "Статьи"
    ],
      "info": [
      "Оплата и доставка",
      "Гарантия",
      "Размеры"
    ]
  };

-
  var socialsList = [
    {"link":"#", "icon":"facebook_icon"},
    {"link":"#", "icon":"G+_icon"},
    {"link":"#", "icon":"instagram_icon"}
  ]