include mocky/mockyData
.my-slider.my-slider_partners
  each logo in partnersLogoArray
    .my-sliders_slide.partners_slide
      .img-holder
        img(src="../../assets/img/main-page/#{logo}.png").slide-img