include mocky/mockyDeata
ul.features_list.ul.ul--untitl.ul--inline
  each feature in featuresList
    li
      .img-holder
        img(src="../../assets/img/main-page/#{feature.icon}_icon.png").feature-icon
      h3 #{feature.title}