extends ../layouts/default.jade

block content
  include ../partials/breadcrumbs
  include ../partials/checkout/mocky/mockyData
  +breadcrumbs('Корзина')
  .row
    .column.small-12
      h1.section-title.section-title--blue Корзина товаров


  .checkout_table-row
    include  ../partials/checkout/checkout-table/table

  .checkout_form
    .row.collapse
      .columns.small-12
        include ../partials/checkout/checkout-form/form