extends ../layouts/default.jade

block content
  section.features_section
    .row.align-center
      .column.small-10.collapse
        include features-section/features-list
        p
          | Вместе с нами купить спортивную одежду и обувь гораздо проще! Мы постоянно работаем над тем, чтобы покупки становились ещё выгоднее. Купить со скидкой в 5% качественную спортивную одежду и экипировку можно начиная уже со второй покупки!<br>
          | Оформлять заказы станет ещё удобнее, если вы зарегистрируетесь в «Личном кабинете». Тогда вам будет доступен просмотр истории заказов, просмотр полученных скидок и не только.<br>
          | Одна из задач нашего магазина – поддержка детского, студенческого и аматорского спорта. При заказе товаров для команд вы обязательно получите скидку!
        p Виртуальные витрины Волеймаг постоянно пополняются новыми коллекциями спортивной экипировки! Делайте покупки оптом в и розницу на наших бесконечных полках!

  section.products-section
    .row.align-center
      .column.small-12
        include products/products-slider
  section.media_section
    .row.align-center
      .column.small-12
        .media_tabs-holder.text-center
          button(type="button").media_tab-btn.isActive Новости
          button(type="button").media_tab-btn Статьи
        include news-blocks/news-section
        .media_link-btn-holder.text-center
          a(href="#").media-link-btn.btn.btn--blue Все новости

