extends ../layouts/default.jade

block content
  include ../partials/breadcrumbs
  include ../partials/product-card/mocky/tab-content-mixin
  include ../partials/product-card/mocky/tabsData
  +breadcrumbs('Кросовки для бега')
  section.product-card_main-section
    .row
      .column.small-12
        h1.section-title.section-title--blue.text-left Кроссовки Mizuno Wave Inspire 13 SS17
    .row.product-card_card-wrapper
      .columns.large-5.small-12
        include ../partials/product-card/blocks/product-img-section
      .product-card_info-column.columns.large-7.small-12
        include ../partials/product-card/blocks/product-info-section
    .row
      .columns.xlarge-9.large-12.small-12.medium-12
        include ../partials/product-card/blocks/product-tabs-section
  section.product-card_feedback
    .row.align-center
      .columns.small-12
        h1.section-title.section-title--blue Отзывы
        .feedbacks-textarea
          h3 Добавить комментарий:
          textarea(rows=10)
          button(type="button").btn.btn--blue Комментировать

  section.product-card_additional-goods
    .row.align-center
      .columns.small-12
        h1.section-title.section-title--blue С этим товаром покупают
        include ../partials/main-page/products/products-slider

  section.product-card_additional-goods
    .row.align-center
      .columns.small-12
        h1.section-title.section-title--blue Ранее просмотренные товары
        include ../partials/main-page/products/products-slider