-
  var featuresList = [
    {"icon":"ukraine", "title":"Доставка по всей Украине"},
    {"icon":"t-shirt", "title":"Актуальные размеры"},
    {"icon":"guaranty", "title":"Гарантия подлинности"},
    {"icon":"package", "title":"Гарантия  возврата"},
    {"icon":"percent", "title":" Скидки для постоянных покупателей"}
  ]