.checkout_thead-row {
  color: $blue;
  height: 75px;
  padding-top: 26px;
  padding-bottom: 26px;
}
.checkout_th {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: rem-calc(18);
  font-weight: 400;
  line-height: 1.3;
  h3 { margin: 0; }
}
.checkout_tbody-row {
  background: $light-gray;
  color: $green;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 25px;
  p { margin: 0; }
}
.checkout_td {
  display: flex;
  align-items: center;
  .pic-holder {
    background: $white;
    border: 1px solid $border-color;
  }
  .product-name { color: $blue; }
}
.checkout_stock {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  input {
    color: $green;
    padding: 10px;
    margin: 0 10px;
    max-width: 100px;
    text-align: center;
    flex: 1 1 0%
  }
  .checkout_btn {
    @include sizes(25px);
    flex: 0 0 auto;
    &--decrease {
      background: url('../img/checkout/decrease.png') 50% 50%/contain no-repeat;
      left: 0;
    }
    &--increase {
      background: url('../img/checkout/increase.png') 50% 50%/contain no-repeat;
      right: 0;
    }
    &--remove {
      background: url('../img/checkout/remove-item.png') 50% 50%/contain no-repeat;
    }
  }
}

.checkout_total-amount {
  .amount-dl {
    display: flex;
    dt { margin: 0 10px 0 0; }
    dd { color: $green; }
  }
}

.checkout_btns-row {
  > .row {
    @include breakpoint(medium down) { justify-content: space-between; }
  }
  .btn-holder + .btn-holder {
    @include breakpoint(medium) { margin-left: 68px; }
  }
  .btn {
    background: $blue;
    color: $white;
    font-size: 18px;
    margin-bottom: 15px;
    .fa { margin-right: 10px; }
  }
}
