-
  const paymentsTerms = [
    {
      icon: 'card-icon.png',
      term: 'Полная предоплата (переводом на карту или через терминал Приват банка)',
      description: 'При полной предоплате Вы оплачиваете только услугу доставки заказа на склад транспортной компании.'
    },
    {
      icon: 'wallet-icon.png',
      term: 'Наложенный платеж  (оплата заказа после его фактического получения на складе транспортной компании).',
      description: 'При наложенном платеже Вы оплачиваете доставку заказа на склад транспортной компании и обратную пересылку денег.'
    },
    {
      icon: 'banking-icon.png',
      term: 'Безналичный расчет',
      description: ''
    }
  ];

-
  const shippingTerms = [
    { icon: 'delivery-time-icon.png', text: 'Самые короткие сроки доставки' },
    { icon: 'route-icon.png', text: 'Найти ближайшее отделение для наиболее удобного получения заказа (<a href="#">ссылка</a>)' },
    { icon: 'country-icon.png', text: 'Доставка в самые отдаленные населенные пункты Украины' },
    { icon: 'schedule-icon.png', text: 'Возможность отследить местоположение Вашего заказа в реальном времени, точно узнать дату прибытия заказа (<a href="#">ссылка</a>)' },
    { icon: 'megapolis-icon.png', text: 'Доставка в большие города уже на следующий день' },
  ];