-
  var aboutData = [
    {"date":"15.06.2017 г.", "userName": "", "uaserComment":"Спасибо магазину VolleyMAG за качество предоставленного товара, гибкость в обслуживании, оперативность, за ценовую политику. В дальнейшем будем сотрудничать. Так держать!"},
    {"date":"15.05.2017 г.", "userName": "Даниил", "uaserComment":"Нужны были 12 футболок в жатые сроки и к тому же с номерами. Ребята все оперативно сделали, команда довольна. Огромное спасибо!"},
    {"date":"22.04.2017 г.", "userName": "Мария", "uaserComment":"Дякую) Усе чітко і швидко!!! у подальшому буду й далі у Вас купувати спортивний товар."},
    {"date":"15.05.2017 г.", "userName": "Анна", "uaserComment":"Спасибо магазину VolleyMAG за качество предоставленного товара, гибкость в обслуживании, оперативность, за ценовую политику. В дальнейшем будем сотрудничать. Так держать!"}
  ]