.checkout_thead-row
  .row.collapse
    .checkout_th.columns.small-1
      h3 Товар
    .checkout_th.columns.small-2.small-offset-1
      h3 Название
    .checkout_th.columns.small-2.small-offset-1
      h3 Количество
    .checkout_th.columns.small-1.small-offset-1
      h3 Цена
    .checkout_th.columns.small-1.small-offset-1
      h3 Удалить

.checkout_tbody-row
  .row.collapse
    .checkout_td.columns.small-1
      .pic-holder
        img(src="assets/img/sizes/defmain.jpg")
    .checkout_td.columns.small-2.small-offset-1
      p.product-name Кроссовки Mizuno Wave Lightning Z3 SS17
    .checkout_td.columns.small-2.small-offset-1
      .checkout_stock
        button(type="button").checkout_btn.checkout_btn--decrease
        button(type="button").checkout_btn.checkout_btn--increase
        input(type="number" min="1")

    .checkout_td.columns.small-1.small-offset-1.align-center
      span 3557
      | &nbsp;
      span грн
    .checkout_td.columns.small-1.small-offset-1.align-center
      button(type="button").checkout_btn.checkout_btn--remove

.checkout_total-amount
  .row.collapse
    .columns
      dl.amount-dl
        dt Всего к оплате:
        dd
          span 3557
          | &nbsp;
          span грн

.checkout_btns-row
  .row.collapse
    .btn-holder.columns.shrink
      button(type="button").btn.btn-blue
        i(aria-hidden="true").fa.fa-angle-left
        | Обратно к покупкам
    .btn-holder.columns.shrink
      button(type="button").btn.btn-blue
        | Очистить корзину