-
  var newsData = [
    {"thumbnail":"news_1", "date":"05.07.2017 г.", "text":"Новое поступление экипировки Mizuno."},
    {"thumbnail":"news_2", "date":"15.06.2017 г.", "text":"Полная распродажа спортивной экипировки в магазине volleymag."},
    {"thumbnail":"news_3", "date":"14.05.2017 г.", "text":"История линейки бутс Mizuno Morelia."},

    {"thumbnail":"news_4", "date":"05.07.2017 г.", "text":"Новая коллекция обуви ASICS уже в продаже!"},
    {"thumbnail":"news_5", "date":"15.06.2017 г.", "text":"Тотальное снижение цен на экипировку Asics и Errea!"},
    {"thumbnail":"news_6", "date":"14.05.2017 г.", "text":"20% снижение цен на все мячи Mikasa."},

    {"thumbnail":"news_7", "date":"05.07.2017 г.", "text":"Коллекция сумок и рюкзаков \"New Ukraine\" уже в продаже."},
    {"thumbnail":"news_8", "date":"15.06.2017 г.", "text":"VolleyMAG Fair Play: Уважай \"летящий мяч\"!"},
    {"thumbnail":"news_9", "date":"14.05.2017 г.", "text":"VolleyMAG покоряет новую стихию вместе с TM Speedo."}
  ]